# Xcode
.DS_Store
*.swp
*.plist
xcuserdata/
DerivedData/
todo.calender/*.plist
todo.calendar/Assets.xcassets/
todo.calendar/Preview Content/
todo.calendar/todo_calendar.entitlements
todo.calendarTests/
todo.calendarUITests/

# Build artifacts
/build/
todo.calendar.xcodeproj/
